[mysqld]
# charset
collation-server     = utf8_general_ci
character-set-server = utf8

skip-host-cache
skip-name-resolve
datadir = /var/lib/mysql
!includedir /etc/mysql/conf.d/

default-time-zone='+03:00'